:root {
  --primary: #38b6ff;
  --primary_dark: #d33a2e;
  --light_color: #f4e9de;
}
body {
  background-color: var(--light_color);
}
nav {
  position: fixed;
  width: 95%;
  margin-left: 2.5%;
  background-color: var(--primary);
  color: var(--light_color);
  border-radius: 2rem;
  top: 1rem;
}
.alex_logo {
  width: 140px;
  height: 60px;
  background: url(../img/logo.png);
}
.alex_logo img {
  border-radius: 2rem;
}
#alex_logo_header {
  position: fixed;
  top: 1rem;
  left: calc(50% - 70px);
}

@media screen and (max-width: 640px) {
  nav {
    bottom: 1rem;
    top: auto;
  }
}
