:root {
  --primary: #38b6ff;
  --primary_dark: #d33a2e;
  --light_color: #f4e9de;
  font-family: bebas neue;
  font-size: 14px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--light_color);
}
html,
body {
  font-family: "Inter", sans-serif;
}
nav {
  position: fixed;
  width: 95%;
  margin-left: 2.5%;
  background-color: var(--primary_dark);
  color: var(--light_color);
  border-radius: 1rem;
  top: 1rem;
}
.alex_logo {
  width: 140px;
  height: 60px;
  background: url(../img/logo.png);
}
.alex_logo img {
  border-radius: 2rem;
}
.alex_logo.invisible {
  width: 180px;
}
#alex_logo_header {
  position: fixed;
  top: 1rem;
  left: calc(50% - 70px);
}
.icon_menu span {
  font-size: 1.5rem;
}
@media screen and (max-width: 640px) {
  .icon_menu.menu_active {
    color: #d33a2e;
  }
  nav {
    bottom: 1rem;
    top: auto;
  }
  nav svg path,
  nav svg.cprimary_polygon polygon {
    fill: var(--light_color);
    transition: 0.5s;
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .alex_logo.invisible {
    display: none;
  }
  .icon_menu span {
    opacity: 0;
    position: absolute;
    bottom: -1rem;
    width: 100%;
  }
  .icon_menu.menu_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icon_menu svg {
    /* transition: 0.5s; */
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .icon_menu.menu_active {
    padding: 0.5rem;
    background: var(--light_color);
    width: 44px !important;
    height: 44px !important;
    border-radius: 1rem;
  }
  .icon_menu.menu_active path,
  .icon_menu.menu_active .cprimary_polygon polygon {
    fill: var(--primary_dark) !important;
  }
  /* .icon_menu.menu_active span {
    opacity: 1;
    bottom: -1rem;
    left: 0;
    text-align: center;
    color: var(--light_color);
  } */
  .icon_menu {
    transition: 0.5s;
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  #nav_div_cont {
    min-height: 80px;
  }
  #nav_div_cont ul {
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #nav_div_cont ul:first-child {
    right: auto;
    left: 0;
  }
  #nav_div_cont ul li a {
    width: 50%;
    height: 28px;
    position: absolute;
    top: calc(50% - 14px);
    right: calc(50% - 20px);
  }
  #nav_div_cont ul li:first-child a {
    right: auto;
    left: calc(50% - 16px);
  }
  .icon_menu.icon_menu.menu_active {
    top: calc(50% - 14px - 1rem) !important;
  }
  .nopadding_mobile {
    padding: 0;
  }
  .custom_ul_mobile {
    height: 50px;
  }
  .left_mobile {
    left: -1.2rem !important;
  }
}
@media screen and (min-width: 641px) {
  .icon_menu svg {
    display: none;
  }
  #alex_logo_header {
    left: calc(50% - 80px);
  }
  .alex_logo {
    width: 160px;
    height: 65px;
  }
  .custom_li_mobile {
    min-width: 100px;
    text-align: center;
  }
}
@media screen and (min-width: 801px) {
  .custom_li_mobile {
    min-width: 130px;
  }
}
section {
  height: 100vh;
}
