@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap"); */
:root {
  --primary: #38b6ff;
  --primary_dark: #9f1b11;
  --light_color: #f4e9de;
  --background: #f4dede;
  --colore_pista: #d33a2e;
  font-family: "Poppins", sans-serif;
  /* font-family: "Rubik Mono One", sans-serif; */
  font-size: 14px;
}
html {
  background-color: var(--colore_pista);
  opacity: 1;
  background-size: 160px 160px;
  background-image: repeating-linear-gradient(
    0deg,
    #ffffff,
    #ffffff 4px,
    var(--colore_pista) 4px,
    var(--colore_pista)
  );
}
.c_primary {
  color: var(--primary);
}
.c_primary_dark {
  color: var(--primary_dark);
}
.bc_primary {
  background-color: var(--primary);
}
.bc_primary_dark {
  background-color: var(--primary_dark);
}
.fill_c_primary {
  fill: var(--primary);
}
.bc_border_primary_dark {
  border: 1px solid var(--primary_dark);
}
.bc_border_primary_dark svg line,
.bc_border_primary_dark svg polyline {
  color: var(--primary);
  fill: var(--primary);
}
html {
  scroll-behavior: smooth;
}
body {
  color: #000;
}
body {
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar:hover {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  background: gainsboro;
}
body::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
  border: 1px solid gainsboro;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
nav {
  z-index: 10;
  position: fixed;
  width: 98%;
  margin-left: 1%;
  background-color: var(--light_color);
  color: var(--primary_dark);
  border-radius: 1rem;
  top: 1rem;
  border-top: 4px solid var(--primary_dark);
  box-shadow: 0 1px 5px var(--primary_dark);
}
#fake_cover_header {
  z-index: 9;
  background: var(--colore_pista);
  position: fixed;
  top: 0;
  width: 98%;
  margin-left: 1%;
  height: 120px;
}
.alex_logo {
  width: 140px;
  height: 60px;
  background: url(../img/logo.png);
}
.alex_logo img {
  border-radius: 2rem;
}
.alex_logo.invisible {
  width: 180px;
}
#alex_logo_header {
  position: fixed;
  top: 0.5rem;
  left: calc(50% - 70px);
}
.icon_menu span {
  display: none;
}
nav svg path,
nav svg.cprimary_polygon polygon {
  fill: var(--primary_dark);
  transition: 0.5s;
}
nav .icon_menu {
  display: flex;
  justify-content: center;
}
#container {
  margin: 0 2.5%;
  width: 95%;
}
.font_size_120perc {
  font-size: 120%;
}
@media screen and (max-width: 640px) {
  nav {
    bottom: 1rem;
    top: auto;
  }
  #fake_cover_header {
    bottom: 0;
    top: auto;
    height: 95px;
  }
  .alex_logo.invisible {
    display: none;
  }
  #container {
    margin: 167px 2.5%;
    width: 95%;
  }
  .py-16-only-small {
    padding: 4rem 0;
  }
  .max-height-price {
    min-height: 420px;
  }
  .max-height-price.raccomandato {
    min-height: 480px;
  }
}
@media screen and (max-width: 800px) {
  .icon_menu.menu_active path,
  .icon_menu.menu_active .cprimary_polygon polygon {
    fill: var(--light_color) !important;
  }
  .icon_menu.menu_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icon_menu.menu_active {
    padding: 0.5rem;
    background: var(--primary_dark);
    width: 44px !important;
    height: 44px !important;
    border-radius: 1rem;
  }
  .icon_menu {
    transition: 0.5s;
  }
  #nav_div_cont {
    min-height: 80px;
  }
  #nav_div_cont ul {
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #nav_div_cont ul:first-child {
    right: auto;
    left: 0;
  }
  #nav_div_cont ul li a {
    width: 50%;
    height: 28px;
    position: absolute;
    top: calc(50% - 14px);
    right: calc(50% - 20px);
  }
  #nav_div_cont ul li:first-child a {
    right: auto;
    left: calc(50% - 16px);
  }
  .icon_menu.menu_active {
    top: calc(50% - 14px - 1rem) !important;
  }
  .nopadding_mobile {
    padding: 0;
  }
  .custom_ul_mobile {
    height: 50px;
  }
  .left_mobile {
    left: -1.2rem !important;
  }
}
/* MEDIA QUERY MOBILE E TABLET */
@media screen and (max-width: 1023px) {
  section {
    text-align: center;
  }
  .max-height-price {
    width: 100%;
  }
}
/* ONLY TABLET */
@media screen and (min-width: 624px) and (max-width: 1023px) {
  #home {
    padding: 1rem 0 2rem;
  }
  .max-height-price {
    min-height: 400px;
  }
  .max-height-price.raccomandato {
    min-height: 450px;
  }
}
@media screen and (min-width: 1024px) {
  .large_max-w-33 {
    width: 30%;
    margin: 0 1%;
  }
  .max-height-price {
    min-height: 450px;
  }
  .max-height-price.raccomandato {
    min-height: 520px;
  }
}
@media screen and (min-width: 641px) and (max-width: 800px) {
  ul li a.menu_active {
    right: calc(50% - 20px + 1.25rem) !important;
  }
  ul li:first-child a.menu_active {
    left: calc(50% - 16px + 1.25rem) !important;
  }
}
@media screen and (min-width: 641px) {
  .custom_li_mobile {
    min-width: 100px;
    text-align: center;
  }
  #container {
    margin-top: 180px;
  }
}
@media screen and (min-width: 801px) {
  #alex_logo_header {
    left: calc(50% - 80px);
  }
  .alex_logo {
    width: 160px;
    height: 65px;
  }
  .icon_menu {
    align-items: center;
  }
  .icon_menu span {
    display: block;
    color: #000;
    margin: 0 0.5rem;
    transition: 0.5s;
    padding-bottom: 0;
    border-bottom: 3px solid var(--light_color);
  }
  .icon_menu.menu_active span {
    padding: 1px;
    border-bottom: 3px solid var(--primary_dark);
  }
  .custom_li_mobile {
    min-width: 130px;
  }
  nav ul {
    width: 35%;
  }
  nav ul li {
    display: flex;
    justify-content: space-around;
  }
}
#raccomended_by {
  position: absolute;
  width: 100%;
  top: 0;
}
section {
  min-height: 300px;
  background: var(--background);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
#home svg {
  fill: var(--background);
}
#fixed_hide_stat {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  transition: 1s;
  opacity: 0;
}
#fixed_hide_stat.show_fixed {
  z-index: 1;
  opacity: 1;
}
.max-height-price {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.max-height-price.raccomandato {
  box-shadow: 0px 0px 5px var(--primary_dark);
}
.trans_1s {
  transition: 1s;
}
.fast_animation,
.fast_animation svg,
.fast_animation polygon,
.fast_animation polyline,
.fast_animation span {
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
