.badge {
  position: absolute;
  top: 100px;
  letter-spacing: 0.08em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease;
  transform: rotate(-14deg);
  text-align: center;
  filter: drop-shadow(0.25em 0.7em 0.95em rgba(0, 0, 0, 0.8));
  /* min-size + (max-size - min-size) * ( (100vw - min-width) / ( max-width - min-width) ) */
  font-size: calc(11px + 14 * ((100vw - 420px) / (860)));
}

@media screen and (max-width: 420px) {
  .badge {
    font-size: 11px;
  }
}

@media screen and (min-width: 1280px) {
  .badge {
    font-size: 25px;
  }
}

.badge::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10em;
  height: 10em;
  border-radius: 100%;
  background: #111;
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

.badge:hover {
  color: #fff;
  text-decoration: none;
  transform: rotate(-10deg) scale(1.05);
}

.badge:hover::before {
  opacity: 0.9;
}

.badge svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 0;
  width: 10em;
  height: 10em;
}

.badge span {
  display: block;
  background: #111;
  border-radius: 0.4em;
  padding: 0.4em 1em;
  z-index: 1;
  min-width: 11em;
  border: 1px solid;
  text-transform: uppercase;
}
.logo {
  border: none;
}
.logo img {
  transform: scale(1.5);
  border-radius: 1rem;
}
@media screen and (min-width: 981px) {
  .logo img {
    transform: scale(2);
  }
}
@media screen and (min-width: 1200px) {
  .logo img {
    transform: scale(2.5);
  }
}
body {
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar:hover {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  background: gainsboro;
}
body::-webkit-scrollbar-thumb {
  background: #38b6ff;
  border-radius: 8px;
  border: 1px solid gainsboro;
}
body::-webkit-scrollbar-thumb:hover {
  background: #38b6ff;
}
.alert {
  padding: 20px;
  background-color: #36aef4; /* Red */
  color: white;
  border-radius: 1rem;
  position: fixed;
  bottom: -5rem;
  display: flex;
  align-items: center;
  z-index: 9999;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  transition: 1s;
  text-transform: uppercase;
}

.alert.active {
  bottom: 1rem;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 1s;
  position: absolute;
  right: 2rem;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
@media screen and (max-width: 620px) {
  .alert {
    bottom: -8rem;
  }
}

@media screen and (max-width: 320px) {
  .alert {
    bottom: -10rem;
  }
}
