@media screen and (max-width: 600px) {
  .wrong_price_diamond {
    top: 1rem !important;
  }
}
@media screen and (min-width: 601px) {
  .view_before_600 {
    display: none !important;
  }
}
.wrong_price_diamond {
  right: 1rem;
}
.right_price {
  display: flex;
  justify-content: center;
  align-items: center;
}
